body { 
    margin: 20px 15px !important;
} 
.formTable { 
    width: 450px; 
    margin: auto; 
    border: solid 1px #0088ce; 
    padding: 15px;
}
#next {
    margin: 0.5vw 0 0.5vw 0;
}
#register {
    margin-top: 1vw;
}
a:hover {
    cursor: pointer;
}
